.element__image {
    text-align: center;
    object-fit: cover;
    transition: all .4s ease;
    width: 282px;
    height: 282px;
  }
  
  .element__image:hover {
    cursor: pointer;
    transform: scale(1.01);
    opacity: .95;
  }